html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 20px 0;
    font-size: 1.6rem;
}
.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px 0;
}
.scores div {
    text-align: center;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.445);;
}
.icons {
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 30px;
}
.game-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(153, 153, 153);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.445);
}
.game-icon h1 {
    margin: 0 auto;
    font-size: 1.6rem;
    margin-top: 20px;
    width: 140px;
    word-wrap: break-word;
}
.game-icon img{
    height: 130px;
}